<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.QuestionMapper">
    <resultMap id="BaseQuestionMap" type="com.example.demo1.entity.Question">
        <id column="id" property="id"/>
        <result column="stage_id" property="stage_id"/>
        <result column="question_stem" property="statement"/>
        <result column="option1" property="option1"/>
        <result column="option2" property="option2"/>
        <result column="option3" property="option3"/>
        <result column="option4" property="option4"/>
        <result column="answer" property="answer"/>
    </resultMap>

    <select id="selectByQuestionId" resultMap="BaseQuestionMap">
        select * from question
        where id = #{id}
    </select>

    <select id="firstQ" resultMap="BaseQuestionMap">
        select * from question
        where stage_id = #{stage_id}
        ORDER BY id
        limit 0,1
    </select>

    <select id="getNext" resultMap="BaseQuestionMap">
        select *
        from question
        where id > #{id} AND stage_id = #{stage_id}
        ORDER BY id
        limit 0,1
    </select>

<!--    <select id="getN" resultMap="BaseQuestionMap">-->
<!--        select *-->
<!--        from (-->
<!--             select * from question where ROWNUM < #{n}-->
<!--             order by ROWNUM desc-->
<!--                 )-->
<!--        where ROWNUM = 1;-->
<!--    </select>-->

<!--    SELECT *
FROM (
     SELECT *
     FROM copy_emp
     WHERE ROWNUM <= 1825574
     ORDER BY ROWNUM DESC)
WHERE ROWNUM = 1;-->

    <insert id="addQuestion" useGeneratedKeys="true" keyProperty="id">
        insert into question(stage_id, question_stem, option1, option2, option3, option4, answer)
        values (#{stage_id}, #{statement}, #{option1}, #{option2}, #{option3}, #{option4}, #{answer})
    </insert>

    <delete id="deleteQuestion">
        delete from question
        where id = #{id}
    </delete>

</mapper>