<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.RequestMapper">
    <resultMap id="BaseRequestMap" type="com.example.demo1.entity.Request">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="stage_id" property="stage_id"/>
        <result column="cnt" property="cnt"/>
        <result column="start_time" property="start_time"/>
        <result column="score" property="score"/>
        <result column="consuming_time" property="consuming_time"/>
    </resultMap>

    <select id="selectBy2Id" resultMap="BaseRequestMap">
        select * from request
        where stage_id = #{stageId} AND user_id = #{userId}
    </select>

    <update id="addCnt">
        update request set
            cnt = cnt + 1
        where id = #{id}
    </update>

    <update id="addScore">
        update request set
            score = score + 1
        where id = #{id}
    </update>

    <update id="addTime">
        update request set
            consuming_time = consuming_time + #{consuming_time}
        where id = #{id}
    </update>

    <insert id="newRequest" useGeneratedKeys="true" keyProperty="id">
        insert into request(user_id, stage_id, cnt, start_time, score, consuming_time)
        values (#{user_id}, #{stage_id}, #{cnt}, #{start_time}, #{score}, #{consuming_time})
    </insert>

    <delete id="deleteRequest">
        delete from request
        where id = #{id}
    </delete>

    <select id="ranking" resultMap="BaseRequestMap">
        select * from request
        where stage_id = #{stageId}
        order by score desc, consuming_time
--         limit 0, 10
--         select user_id, score, consuming_time, RANK() over(order by score desc, consuming_time) as rank from request
--         where stage_id = #{stageId}
--         limit 0,10
    </select>

    <select id="userRank">
        select count(*) from request
        where score > (select score from request where user_id = #{userId} and stage_id = #{stageId}) and stage_id = #{stageId}
--         select rown from (
--             select request.*, @rownum := @rownum + 1 as rown
--             from (select @rownum := 0) r, request
--             order by request.score desc, consuming_time
--         ) as b
--         where b.user_id = #{userId}

--         select rank from(
--             select user_id, score, consuming_time, RANK() over(order by score desc, consuming_time) as rank from request
--             where stage_id = #{stageId})
--         where user_id = #{userId}
    </select>



</mapper>