<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.RequestMapper">
    <resultMap id="BaseRequestMap" type="com.example.demo1.entity.Request">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="stage_id" property="stage_id"/>
        <result column="total" property="total"/>
        <result column="start_time" property="start_time"/>
    </resultMap>

    <insert id="insertRequest" useGeneratedKeys="true">
        insert into request(id, user_id, stage_id, total, start_time)
        values (#{id}, #{user_id}, #{stage_id}, #{total}, #{start_time})
    </insert>

    <delete id="deleteRequest">
        delete from request
        where id = #{id}
    </delete>

</mapper>